@charset "utf-8";
/* CSS Document */
.navigation {
	margin:0 auto;
	width:1039px;
	height:44px;
	background-position:center;
	background-image:url(images/graph.png);
	background-color:#671112;

}
.navigation ul{
	font-family:/*"Dutch Tulips Demo"*/"Segoe UI Light";
	font-size:25px;
	font-weight:400;
	position:relative;
    list-style:none;
   	margin:0;
	padding:0;
	padding-top:-8px;
	color:#770b0c;
	padding-left:24px;            
}
        
.navigation > ul > li {
      
     margin-right:10px;
	 margin-left:35px;
	 padding-left:30px;
	 padding-right:30px;
	 color:#FFF;
	 position:relative;
	 float:left;
 	 -webkit-transition-duration: 0.3s;
  	 transition-duration: 0.3s;
  	 -webkit-transition-property: color, background-color;
  	 transition-property: color, background-color;
				
}
		
.navigation > ul > li:hover, .navigation:focus{
	background-color:#FDF9DE;
	height:44px;
  	color:#A60B0D;

}
		
		
.navigation > ul > li > a {

    text-decoration:none;
	color:#FFF; 
            
}
.navigation > ul > li:hover > a{
      color:#b20d0f; 
	  -webkit-transition: color 0.25s ease-in;
 	  -moz-transition: background-color 0.25s ease-in;
	  -ms-transition: background-color 0.25s ease-in;
 	  -o-transition: background-color 0.25s ease-in;
	   transition: background-color 0.25s ease-in;
}
.navigation ul ul{
            position:absolute;
            z-index:100;
            height: 0;
            overflow: hidden;
			-webkit-transition: height 0.3s ease-in;
            -moz-transition: height 0.3s ease-in;
            -o-transition: height 0.3s ease-in;
            -ms-transition: height 0.3s ease-in;
            transition: height 0.3s ease-in;
			margin-left:-44px;
}
        
.navigation > ul > li:hover ul ul, .navigation > ul > li > a:hover ul ul{
            height:0;
}
       
.navigation ul ul ul{
            left:170px;
            width:170px;
		
}
        
 .navigation > ul > li:hover ul, .navigation > ul > li > a:hover ul, .navigation ul ul li:hover > ul, .navigation ul ul li a:hover > ul{
            height:245px;
}
        
       
        .navigation ul ul li{
            background-color:#FDF9DE; 
            width:200px;
			padding:6px 40px;
			opacity:.8;
			margin:0;
			margin-left:-10px;
			-webkit-transition: background-color 0.3s ease;
            -moz-transition: background-color 0.3s ease;
            -o-transition: background-color 0.3s ease;
            -ms-transition: background-color 0.3s ease;
            transition: background-color 0.3s ease;
        }
        
        .navigation ul ul li:hover {
			background-color:#7c0f10;
            color:#FDF9DE; 
			
        }
	
        .navigation ul ul li a {
			font-family:/*"Dutch Tulips Demo"*/"Segoe UI Light";
			font-size:25px;
			font-weight:400;
            display:inline;
            text-decoration:none;
			
			color:#770b0c;
        }
        .navigation ul ul li a:hover, .navigation ul ul li:hover > a {
            color:#FFF; 
        }
#line {
	background:#960c01; 
	height:5px;
	margin-left:-10px;
}
ul#pinlink{
	text-decoration:none;
	padding-top:0px;
	font-family:"Segoe UI Light";
	font-size:20px;
	list-style:none;
	text-align:center;
	color:#671112;
	padding-left:2px;
	
}
ul#pinlink1{
	font-family:"Segoe UI Light";
	font-size:16px;
	list-style:none;
	text-align:center;
	color:#671112;
	padding-left:2px;
	margin-left:19px;
	margin-right:19px;
	border-bottom:dotted medium #671112;
	
}
li#pinli > a{
	text-decoration:none;
	color:#671112;
}
li#pinli{
	/*background-color:#671112;*/
	
	font-weight:600;
	margin-left:19px;
	margin-right:19px;
	margin-top:3px;
	padding:3px;
	border-bottom:dotted medium #671112;
	 -webkit-transition-duration: 0.3s;
  	 transition-duration: 0.3s;
  	 -webkit-transition-property: color, background-color;
  	 transition-property: color, background-color;
}
	
li#pinli:hover, li#pinli:focus{
	background-color:#671112;
  	color:#FFF;
}
li#pinli:hover > a, li#pinli:focus > a{
  	color:#FFF;

}
li#pinli1{
	/*background-color:#671112;*/
	margin-top:0px;
	padding:0px;	
	 -webkit-transition-duration: 0.3s;
  	 transition-duration: 0.3s;
  	 -webkit-transition-property: color, background-color;
  	 transition-property: color, background-color;
}
li#pinli1:hover, li#pinli1:focus{
	background-color:#FFF;
  	color:#671112;

}